# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Some of the popular languages that Data Scientists use are
* Some of the commonly used libraries used by Data Scientists include
* examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

#### In Python:
1. Numpy
2. Pandas
3. Matplotlib
4. scikitleran

#### In R:
1. ggplot
2. caret
3. dplyr
4. stringr

| Data Science Tools |
---
| Rstudio | 
| Apache Spark | 
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
m = 200
d = 60
print('This is %d hour(s)', m/d)

This is %d hour(s) 3.3333333333333335

## Author:
Masoud Elahian